<div class="contenedor">
  <div class="contenedor-logo">
    <img src="assets/img/el-pisito.svg" alt="Icono El pisito" class="logo" />
    <span class="texto-logo">El pisito</span>
  </div>

  <div class="contenedor-aplicaciones">
    <a href="">
      <i class="fa-brands fa-google-play"></i>
      <p>DISPONIBLE EN <span>Google Play</span></p>
    </a>
    <a href="">
      <i class="fa-brands fa-apple"></i>
      <p>Consiguelo en el <span>App Store</span></p>
    </a>
  </div>

  <div class="contenedor-iconos">
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-youtube"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-facebook"></i></a>
  </div>
</div>
