<div class="contenedor">
  <h1>Añadir tipo</h1>

  <form
    class="mx-auto"
    style="max-width: 25rem"
    #form="ngForm"
    (ngSubmit)="add()"
  >
    <div class="mb-3">
      <label for="tipo">TIPO*:</label>
      <input
        id="tipo"
        type="text"
        name="tipo"
        required
        class="form-control"
        autocomplete="off"
        [(ngModel)]="tipo.nombre"
        style="text-transform: uppercase"
      />
    </div>

    <div>
      <button
        type="submit"
        class="btn btn-lg btn-primary"
        [disabled]="form.invalid"
      >
        Añadir
      </button>
    </div>
  </form>
</div>
