<div class="contenedor">
  <h1>Añadir Inmueble</h1>

  <form class="mx-auto" #form="ngForm" (ngSubmit)="add()">
    <!-- <div class="mb-3">
        <label for="apertura">POBLACIÓN*:</label>
        <input
          id="poblacion"
          type="text"
          name="poblacion"
          required
          class="form-control"
          autocomplete="off"
          [(ngModel)]="poblacion.nombre"
          style="text-transform: uppercase"
        />
      </div> -->

    <div class="mb-3">
      <label for="apertura">APERTURA*:</label>
      <select
        name="apertura"
        id="apertura"
        class="font-select"
        required
        [(ngModel)]="inmueble.apertura"
      >
        <option value="INTERIOR">INTERIOR</option>
        <option value="EXTERIOR">EXTERIOR</option>
      </select>
    </div>

    <div>
      <button
        type="submit"
        class="btn btn-lg btn-primary"
        [disabled]="form.invalid"
      >
        Añadir
      </button>
    </div>
  </form>
</div>
