<div class="contenedor">
  <div class="d-flex flex-row aling-items-center me-3">
    <img src="assets/img/el-pisito.svg" alt="Icono El pisito" class="logo" />
    <span class="texto-logo">El pisito</span>
  </div>

  <div class="contenedor-iconos">
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-youtube"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-facebook"></i></a>
  </div>

  <div class="aplicaciones">
    <a href=""
      ><span>TAMBIÉN EN TU MOVIL</span
      ><i class="fa-solid fa-mobile-screen"></i></a
    ><a href=""><span>PARA ANDROID</span><i class="fa-brands fa-android"></i></a
    ><a href=""><span>PARA IOS</span><i class="fa-brands fa-apple"></i></a>
  </div>
</div>
